n8n/workflow-siem-alerta.json
{
    "name": "SIEM - Alerta Entrante con Telegram",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "alert/siem",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook SIEM",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.headers['x-siem-key'] }}",
                            "operation": "equals",
                            "value2": "superpoderosas26"
                        }
                    ]
                }
            },
            "id": "if-auth",
            "name": "Validar API Key",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "alerts",
                "columns": "rule_id, src_ip, username, severity, raw_event",
                "returnFields": "*",
                "options": {}
            },
            "id": "postgres-insert",
            "name": "Insertar Alerta PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                650,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "PostgreSQL SIEM"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
                "text": "🚨 **ALERTA SIEM**\n\n📋 **Regla:** {{ $json.body.rule_id }}\n🔴 **Severidad:** {{ $json.body.severity }}\n🌐 **IP Origen:** {{ $json.body.src_ip }}\n👤 **Usuario:** {{ $json.body.username }}\n⏰ **Timestamp:** {{ $json.body.timestamp }}\n\n_Detectado por el sistema SIEM automatizado_",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-send",
            "name": "Notificar Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                650,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "2",
                    "name": "Telegram Bot SIEM"
                }
            }
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "playbook_runs",
                "columns": "alert_id, workflow, outcome",
                "options": {}
            },
            "id": "postgres-playbook",
            "name": "Registrar Playbook",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                850,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "PostgreSQL SIEM"
                }
            }
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "rule_id",
                            "value": "={{ $json.body.rule_id }}"
                        },
                        {
                            "name": "src_ip",
                            "value": "={{ $json.body.src_ip }}"
                        },
                        {
                            "name": "username",
                            "value": "={{ $json.body.username || 'unknown' }}"
                        },
                        {
                            "name": "severity",
                            "value": "={{ $json.body.severity }}"
                        },
                        {
                            "name": "raw_event",
                            "value": "={{ JSON.stringify($json.body) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-values",
            "name": "Preparar Datos",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                450,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"error\", \"message\": \"Unauthorized\"}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-error",
            "name": "Responder Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"success\", \"message\": \"Alert processed\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-success",
            "name": "Responder OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook SIEM": {
            "main": [
                [
                    {
                        "node": "Validar API Key",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Preparar Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar API Key": {
            "main": [
                [
                    {
                        "node": "Insertar Alerta PostgreSQL",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Notificar Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insertar Alerta PostgreSQL": {
            "main": [
                [
                    {
                        "node": "Registrar Playbook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Registrar Playbook": {
            "main": [
                [
                    {
                        "node": "Responder OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "SIEM",
            "createdAt": "2026-02-06T00:00:00.000Z",
            "updatedAt": "2026-02-06T00:00:00.000Z"
        }
    ],
    "pinData": {},
    "versionId": "1"
}